Grouping data
the groupby operation splits, analyzes and aggregates/combines data

In [16]:
import pandas as pd
import numpy as np
census = pd.read_csv('census.csv')
census.head()
cst=census.groupby('STNAME')  #this produces a broupby object, with the column on which we used groupby as the key.  we can 
#see the groups by
cst.groups # where the value is a list of indices belonging to that group
#we could see which states have the most counties by using size (count counties) and sort( get top to list)
cst.size().sort_values(ascending = False)
#to see the biggest counties we could sort by county and state
cty=census.groupby(['STNAME','CTYNAME'])
#for st, cty in cty.groups:
    #print( st, cty)
cty['POPESTIMATE2010'].sum().sort_values(ascending=False) 
#I could go back and remove the state aggregates, using '50' but do not need to
cty=census.groupby('SUMLEV')
cty.agg([np.sum,np.mean,np.size])

       REGION                 DIVISION                  STATE             \
          sum      mean  size      sum      mean  size    sum       mean
SUMLEV
40        136  2.666667    51      261  5.117647    51   1477  28.960784
50       8385  2.668682  3142    16315  5.192553  3142  95140  30.280076

              COUNTY   ...   RNETMIG2012 RNETMIG2013                    \
        size     sum   ...          size         sum      mean    size
SUMLEV                 ...
40        51       0   ...          51.0  168.438333  3.302712    51.0
50      3142  325426   ...        3142.0 -808.377009 -0.257281  3142.0

        RNETMIG2014                   RNETMIG2015
                sum      mean    size         sum      mean    size
SUMLEV
40       141.198341  2.768595    51.0  145.498179  2.852905    51.0
50     -3458.597045 -1.100763  3142.0 -454.448126 -0.144637  3142.0

[2 rows x 291 columns]

groupby also has a transform method and a filtering method to modify or get subsets of groupby objects

In [27]:
cty=census.groupby(['STNAME','CTYNAME'])
cty.filter(lambda x: np.all([len(x['STNAME'])>1 ]))

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
327,40,3,5,11,0,District of Columbia,District of Columbia,601723,601767,605126,...,11.560071,10.052444,9.457678,1.480094,5.601833,17.028422,15.972111,15.63412,8.378037,12.434838
328,50,3,5,11,1,District of Columbia,District of Columbia,601723,601767,605126,...,11.560071,10.052444,9.457678,1.480094,5.601833,17.028422,15.972111,15.63412,8.378037,12.434838

For mergind and joining data structures, you use concat and append
concat joins multiple data structures along a single axis
append joins only along axis 0, row axis

In [34]:
import pandas as pd
import numpy as np
census = pd.read_csv('census.csv')
census.iloc[0:5]
pd.concat([census.iloc[0:3],census.iloc[3:6]],axis=0)
pd.concat([census.iloc[:,0:3],census.iloc[:,3:6]],axis=1)
census.iloc[0:3].append(census.iloc[3:6])

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

Pandas also has SQL like merging and joining, but I'm skipping this for now.

A pivot table can be used to turn row values into columns for quick analysis, and the stack and unstack commands are similar

The melt function transforms a data frame by relabeling some columns as ID columns.