In [1]:
import pandas as pd
import numpy as np
allData=pd.read_csv("C:/Users/cLennon/workspace/mmFacs/analysis_b7d7g.csv")

In [5]:
allData.iloc[0:3,1:10]

   reward.lo  reward.hi  tmp  egs  alpha  bll   ans  mas  chunk-count
0         -1         10   10  1.0    0.2  nil  0.25   10        10161
1         -1         10   10  1.0    0.2  nil  0.25   10        10160
2         -1         10   10  1.0    0.2  nil  0.25   10        10159

In [6]:
allData.iloc[0:3,10:15]

,fcount,chunk,rt,times,utilities
0,7,AU43 AU43-0 AU38 AU38-0 AU22 AU22-0 AU12 AU12-...,1.050781,31900.164 31900.414 31900.465 31900.514 31900....,5.187492 5.437492 8.198252 0.1817554 8.145067 ...
1,5,AU45 AU45-0 AU39 AU39-0 AU34 AU34-0 AU27 AU27-...,0.849609,31899.215 31899.465 31899.514 31899.564 31899....,5.187492 5.437492 8.446661 0 8.201254 2.277918...
2,6,AU64 AU64-0 AU38 AU38-0 AU30 AU30-0 AU20 AU20-...,0.949219,31898.164 31898.414 31898.465 31898.514 31898....,5.187492 5.437492 8.164805 0 7.401713 9.631882...

In [7]:
allData.iloc[0:3,15:20]

,productions,hypotheses,correct,response,model
0,DETECT-EXEMPLAR GUESS-CATEGORY ENCODE-AU10-OF-...,SURPRISE SURPRISE SURPRISE DISGUST DISGUST DIS...,t,disgust,b7d7g
1,DETECT-EXEMPLAR GUESS-CATEGORY ENCODE-AU27-OF-...,SURPRISE DISGUST DISGUST DISGUST DISGUST DISGUST,nil,disgust,b7d7g
2,DETECT-EXEMPLAR GUESS-CATEGORY ENCODE-AU2-OF-S...,SURPRISE DISGUST DISGUST DISGUST DISGUST DISGU...,nil,disgust,b7d7g

In [9]:
allData.iloc[0:3,20:25]

   trial  au64  au63  au62  au61
0  10000     0     0     0     0
1   9999     0     0     0     0
2   9998     0     0     0     0

In [12]:
allData.iloc[0:3,25:40]

,au54,au45,au44,au43,au39,au38,au34,au31,au30,au29,au28,au27,au26,au25,au24
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [13]:
allData.iloc[0:3,40:55]

,au23,au22,au21,au20,au18,au17,au16,au15,au14,au13,au12,au11,au10,au9,au7
0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [14]:
allData.iloc[0:3,55:65]

   au6  au5  au4  au2  au1   emotion  frame  session subject  Unnamed: 63
0    0    0    0    0    0   disgust     11        6    s090          NaN
1    0    0    0    0    0  contempt     15        2    s148          NaN
2    1    0    0    0    0     happy     33        4    s052          NaN

In [16]:
allData.iloc[0:3,65:70]

,timesList,utilitiesList,chunkList,hypothesesList,productionList
0,"[31900.164, 31900.414, 31900.465, 31900.514, 3...","[5.187492, 5.437492, 8.198252, 0.1817554, 8.14...",<zip object at 0x000000000BB34208>,"['SURPRISE', 'SURPRISE', 'SURPRISE', 'DISGUST'...","['RECEIVE-FEEDBACK-CATEGORY-RIGHT', 'CONCLUDE-..."
1,"[31899.215, 31899.465, 31899.514, 31899.564, 3...","[5.187492, 5.437492, 8.446661, 0.0, 8.201254, ...",<zip object at 0x000000000BB34748>,"['SURPRISE', 'DISGUST', 'DISGUST', 'DISGUST', ...","['RECEIVE-FEEDBACK-CATEGORY-WRONG', 'CONCLUDE-..."
2,"[31898.164, 31898.414, 31898.465, 31898.514, 3...","[5.187492, 5.437492, 8.164805, 0.0, 7.401713, ...",<zip object at 0x000000000BB34888>,"['SURPRISE', 'DISGUST', 'DISGUST', 'DISGUST', ...","['RECEIVE-FEEDBACK-CATEGORY-WRONG', 'CONCLUDE-..."

In [17]:
allData.iloc[0:3,70:]

,numHypothesesChange,initAU,finalAU
0,2,"['AU10', 'AU12', 'AU5']","['AU43', 'AU6', 'AU38', 'AU22']"
1,2,['AU27'],"['AU45', 'AU10', 'AU34', 'AU39']"
2,2,['AU2'],"['AU15', 'AU30', 'AU64', 'AU38', 'AU20']"