---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Series Data Structure

In [ ]:
import pandas as pd
pd.Series?

In [ ]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

In [ ]:
numbers = [1, 2, 3]
pd.Series(numbers)

In [ ]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

In [ ]:
numbers = [1, 2, None]
pd.Series(numbers)

In [ ]:
import numpy as np
np.nan == None

In [ ]:
np.nan == np.nan

In [ ]:
np.isnan(np.nan)

In [ ]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

In [ ]:
s.index

In [ ]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

In [ ]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

# Querying a Series

In [ ]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

In [ ]:
s.iloc[3]

In [ ]:
s.loc['Golf']

In [ ]:
s[3]

In [ ]:
s['Golf']

In [ ]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

In [ ]:
s[0] #This won't call s.iloc[0] as one might expect, it generates an error instead

In [ ]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

In [ ]:
total = 0
for item in s:
    total+=item
print(total)

In [ ]:
import numpy as np

total = np.sum(s)
print(total)

In [ ]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

In [ ]:
len(s)

In [ ]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

In [ ]:
%%timeit -n 100
summary = np.sum(s)

In [ ]:
s+=2 #adds two to each item in s using broadcasting
s.head()

In [ ]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

In [ ]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

In [ ]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

In [ ]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

In [ ]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [ ]:
original_sports

In [ ]:
cricket_loving_countries

In [ ]:
all_countries

In [ ]:
all_countries.loc['Cricket']

# The DataFrame Data Structure

In [1]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [ ]:
df.loc['Store 2']

In [2]:
type(df.loc['Store 2'])

pandas.core.series.Series

In [ ]:
df.loc['Store 1']

In [3]:
df.loc['Store 1', 'Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [ ]:
df.T

In [ ]:
df.T.loc['Cost']

In [ ]:
df['Cost']

In [4]:
df.loc['Store 1']['Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [ ]:
df.loc[:,['Name', 'Cost']]

In [ ]:
df.drop('Store 1')

In [ ]:
df

In [ ]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

In [ ]:
copy_df.drop?

In [ ]:
del copy_df['Name']
copy_df

In [ ]:
df['Location'] = None
df

# Dataframe Indexing and Loading

In [ ]:
costs = df['Cost']
costs

In [ ]:
costs+=2
costs

In [ ]:
df

In [ ]:
!cat olympics.csv

In [ ]:
df = pd.read_csv('olympics.csv')
df.head()

In [ ]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

In [ ]:
df.columns

In [ ]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

# Querying a DataFrame

In [ ]:
df['Gold'] > 0

In [ ]:
only_gold = df.where(df['Gold'] > 0)
only_gold.head()

In [ ]:
only_gold['Gold'].count()

In [ ]:
df['Gold'].count()

In [ ]:
only_gold = only_gold.dropna()
only_gold.head()

In [ ]:
only_gold = df[df['Gold'] > 0]
only_gold.head()

In [ ]:
len(df[(df['Gold'] > 0) | (df['Gold.1'] > 0)])

In [ ]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

# Indexing Dataframes

In [ ]:
df.head()

In [ ]:
df['country'] = df.index
df = df.set_index('Gold')
df.head()

In [ ]:
df = df.reset_index()
df.head()

In [ ]:
df = pd.read_csv('census.csv')
df.head()

In [ ]:
df['SUMLEV'].unique()

In [ ]:
df=df[df['SUMLEV'] == 50]
df.head()

In [ ]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

In [ ]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

In [ ]:
df.loc['Michigan', 'Washtenaw County']

In [ ]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

# Missing values

In [ ]:
df = pd.read_csv('log.csv')
df

In [ ]:
df.fillna?

In [ ]:
df = df.set_index('time')
df = df.sort_index()
df

In [ ]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

In [ ]:
df = df.fillna(method='ffill')
df.head()

Notes on numpy arrays and pandas dfs
    Primary data structure is array class ndarray

In [7]:
import numpy as np
ar=np.arange(5) ; print(ar); print(ar[0]) #printing arrays

[0 1 2 3 4]
0

In [8]:
#revserse
ar[::-1]

array([4, 3, 2, 1, 0])

In [9]:
ar = np.array([[2,3,4],[9,8,7],[11,12,13]]);ar[1,1]

8

In [12]:
ar[2] #row

array([11, 12, 13])

In [13]:
ar[2,:] #row

array([11, 12, 13])

In [14]:
ar[:,2] # column

array([ 4,  7, 13])

In [18]:
ar=2*np.arange(6)
ar[1:5:2] #from 2nd to fourth by 2 start stop by
ar[0:5:2]

array([0, 4, 8])

a[0,3:5] is take row 0, columns 3 and 4
a[4:,4:] is rows 4 and after, cols 4 and after
a[:,2] is column 2
a[2::2,::2] rows start at 2 go to end by 2, cols from start to end by 2
Now array masking is used to filter elements from original arrany

In [20]:
np.random.seed(10)
ar=np.random.random_integers(0,25,10)
evenMask=(ar % 2==0);

In [23]:
evenMask

array([False,  True, False,  True, False, False,  True, False,  True, False], dtype=bool)

In [22]:
ar

array([ 9,  4, 15,  0, 17, 25, 16, 17,  8,  9])

In [24]:
ar[evenMask]

array([ 4,  0, 16,  8])

In [28]:
ar=np.array(['Hungary','Nigeria', 
                       'Guatemala','','Poland',
                       '','Japan'])
    #replaceing a value with another value
ar[ar==""]='USA'
ar

array(['Hungary', 'Nigeria', 'Guatemala', 'USA', 'Poland', 'USA', 'Japan'],
      dtype='<U9')

Views in numpy are modifications of the original array, not copies, and changing data changes the original array.  Copying can be forced with copy

In [30]:
ar1=np.arange(12)
ar2=ar1[::2]
ar2[1]=-1
ar1

array([ 0,  1, -1,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [31]:
ar1=np.arange(12)
ar2=ar1[::2].copy()
ar2[1]=-1
ar1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

Basic operations include multiplication, addition, powers, matrix mult with dot operator
log, cos, sin exp are element wise

In [39]:
ar1=np.arange(12)
ar1*2
ar1+2
ar1*ar1
ar1/2
ar1/ar1
ar1<ar1
np.sin(ar1)
array

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ,
       -0.95892427, -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849,
       -0.54402111, -0.99999021])

Arrays can be reduced by the sum and product

In [43]:
ar=np.arange(1,5)
ar.sum()

10

In [49]:
ar=np.array([np.arange(1,6),np.arange(1,6)])
ar.sum(axis=0) #sum by column
ar.sum(axis=1) #sum by row
#if no axis specified, it is applied over whole array treated as a vector
#also avail are mean, std, var, cumsum
ar.mean()

3.0

Logical operators can be applied for checking an entire array, e.g for divisibiliyt with any or all

In [59]:
np.any(ar<4)
np.all(ar<4)

False

Broadcasting is kind of like an outer product, but can be used for things like sums.  Arrays of different lengths are added to produce a "minimal" sensible array sum

In [67]:
ar1=np.array([[1,2,3,4,5,6]])
ar2=np.array([1,.5,.2,.1,.05,.0001])
ar1+ar2
ar1=np.array([[1,3],[5,6]])
ar2=np.array([[1,.5],[.2,.1],[1,.0001]])
#ar1+ar2

You can change the shape of an array to 1 d with ravel (or flatten to get a copy), or reshape, while resize returns a new array and ndarray.resize resizes in place

In [84]:
ar=np.array([0, 1, 2, 3, 3,4, 0, 0, 0])
arx=np.array([0, 1, 2, 3, 3,4, 0, 0, 0])
ar2=ar.resize(3,3) 
ar
ar3=np.ndarray.resize(arx,(3,3))
arx

array([[0, 1, 2],
       [3, 3, 4],
       [0, 0, 0]])

In [96]:
ar=np.array([0, 1, 2, 3, 3,1, 0, 0, 0])

ar2=ar.resize(3,3)
print(ar)
#ar.sort(axis=0) #axis =0 sorts columns from lowest to highest, but keeps the element position within the same column
ar.sort(axis=1) #axis =1 sorts rows from lowest to highest, but keeps the element position within the same row
ar

[[0 1 2]
 [3 3 1]
 [0 0 0]]

array([[0, 1, 2],
       [1, 3, 3],
       [0, 0, 0]])

Other available array operations for sorting include min,max,all,argmin,

The pandas series is a 1D numpy array and an array of labels

In [98]:
np.random.seed(100)
ser=pd.Series(np.random.rand(7))
ser

0    0.543405
1    0.278369
2    0.424518
3    0.844776
4    0.004719
5    0.121569
6    0.670749
dtype: float64

In [100]:
import calendar as cal
monthNames=[cal.month_name[i] for i in np.arange(1,6)]
months=pd.Series(np.arange(1,6),index=monthNames);months

January     1
February    2
March       3
April       4
May         5
dtype: int64

Above creates a series with an array of data and an index of names.  The default index is #s.  Creating from a python dictionary makes the keys indices and the values the data of the series.  Note series need not be homogeneous.  You can think of the index as an ordered multiset.  If you specify an index without data, the data value will be NaN.
For scalar data an index must be provided so the series length can be determined.

In [104]:
currDict={'US' : 'dollar', 'UK' : ['pound','euro'] ,
                    'Germany': 'euro', 'Mexico':'peso',
                    'Nigeria':'naira',
                    'China':'yuan', 'Japan':'yen'}
currSeries=pd.Series(currDict); currSeries

China               yuan
Germany             euro
Japan                yen
Mexico              peso
Nigeria            naira
UK         [pound, euro]
US                dollar
dtype: object

Values can be set and accessed using the index label like a dictionary, with keyError resulting is not present.  If you use get instead, you can return a default value if it is missing.  Slicing and masking work as in an nparray.  For numeric you can use mean, std, sum, etc like another numpy array.  Data is automatically aligned on the basis of the label (row)

In [109]:
currSeries['UK']='pound'
currSeries.get('Sweden',np.NaN)
currSeries[:2]
currSeries[currSeries=='euro']

Germany    euro
dtype: object

DataFrame is a 2d labeled array, with heterogeneous column types.  Like structured arrays in numpy with mutability.
Column is a denoted as column, and row is indexed by labels. columns can be added or deleted.  Every axis has an index.  Row labes and column labels can be specified, or generated from data.  Below is gen from dictionary of series.

In [110]:
stockSummaries={
'AMZN': pd.Series([346.15,0.59,459,0.52,589.8,158.88], 
        index=['Closing price','EPS',
                'Shares Outstanding(M)',
                'Beta', 'P/E','Market Cap(B)']),
'GOOG': pd.Series([1133.43,36.05,335.83,0.87,31.44,380.64],
        index=['Closing price','EPS','Shares Outstanding(M)',
               'Beta','P/E','Market Cap(B)']),
'FB': pd.Series([61.48,0.59,2450,104.93,150.92], 
      index=['Closing price','EPS','Shares Outstanding(M)',
             'P/E', 'Market Cap(B)']),
'YHOO': pd.Series([34.90,1.27,1010,27.48,0.66,35.36],
        index=['Closing price','EPS','Shares Outstanding(M)',
               'P/E','Beta', 'Market Cap(B)']),
'TWTR':pd.Series([65.25,-0.3,555.2,36.23],
       index=['Closing price','EPS','Shares Outstanding(M)',
              'Market Cap(B)']), 
'AAPL':pd.Series([501.53,40.32,892.45,12.44,447.59,0.84],
       index=['Closing price','EPS','Shares Outstanding(M)','P/E',
              'Market Cap(B)','Beta'])}

In [111]:
stockDF=pd.DataFrame(stockSummaries); stockDF

                         AAPL    AMZN       FB     GOOG    TWTR     YHOO
Beta                     0.84    0.52      NaN     0.87     NaN     0.66
Closing price          501.53  346.15    61.48  1133.43   65.25    34.90
EPS                     40.32    0.59     0.59    36.05   -0.30     1.27
Market Cap(B)          447.59  158.88   150.92   380.64   36.23    35.36
P/E                     12.44  589.80   104.93    31.44     NaN    27.48
Shares Outstanding(M)  892.45  459.00  2450.00   335.83  555.20  1010.00

In [113]:
#way to access column and row labels:
stockDF.index
stockDF.columns

Index(['AAPL', 'AMZN', 'FB', 'GOOG', 'TWTR', 'YHOO'], dtype='object')

can be created from csv, fixed width, read_table, from items (e.g. dict maybe map?).
Select columns, add, delete, popped inserted (at end by default or in specified location). Can apply math
ops.  A panel is a 3 d array.

Can select list of cols

In [114]:
SpotCrudePrices_2013_Data={
                'U.K. Brent' : {'2013-Q1':112.9, '2013-Q2':103.0, '2013-Q3':110.1, '2013-Q4':109.4},
                'Dubai':{'2013-Q1':108.1, '2013-Q2':100.8, '2013-Q3':106.1,'2013-Q4':106.7},
                'West Texas Intermediate':{'2013-Q1':94.4, '2013-Q2':94.2, '2013-Q3':105.8,'2013-Q4':97.4}}
SpotCrudePrices_2013=pd.DataFrame.from_dict(SpotCrudePrices_2013_Data)
SpotCrudePrices_2013[['West Texas Intermediate','U.K. Brent']] # can raise key error, use get to avoid and return default

         West Texas Intermediate  U.K. Brent
2013-Q1                     94.4       112.9
2013-Q2                     94.2       103.0
2013-Q3                    105.8       110.1
2013-Q4                     97.4       109.4

Rows cannot be selected with [] in a dataframe, but can in a series.  Can also select with dot .name
Slicing occurs across rows with []

In [117]:
SpotCrudePrices_2013.Dubai #returns dubai column
SpotCrudePrices_2013[:2] # returns row 0,1
SpotCrudePrices_2013[::2] #return rows at intervals of 2
SpotCrudePrices_2013[2:] #from 2 on
SpotCrudePrices_2013[::-1] #reverse rows

         Dubai  U.K. Brent  West Texas Intermediate
2013-Q1  108.1       112.9                     94.4
2013-Q2  100.8       103.0                     94.2

Mixed indexing .loc allows label oriented indexing
.iloc allows integer-based label oriented indexing
.ix allows mixed labe and integer based labeling

In [130]:
NYC_SnowAvgsData={'Months' :
['January','February','March', 
'April', 'November', 'December'],
'Avg SnowDays' : [4.0,2.7,1.7,0.2,0.2,2.3],
'Avg Precip. (cm)' : [17.8,22.4,9.1,1.5,0.8,12.2],
'Avg Low Temp. (F)' : [27,29,35,45,42,32] }
NYC_SnowAvgs=pd.DataFrame(NYC_SnowAvgsData,      
                      index=NYC_SnowAvgsData['Months'], 
                      columns=['Avg SnowDays','Avg Precip. (cm)',   
                               'Avg Low Temp. (F)'])
NYC_SnowAvgs.head()
NYC_SnowAvgs.loc['January'] #single label
NYC_SnowAvgs.loc[['January','April']] # list labels (mult rows)
NYC_SnowAvgs.loc['January':'March'] #label range
#note with .loc, you must specif rows first and use : for all rows
NYC_SnowAvgs.loc[:,'Avg SnowDays'] #one column
NYC_SnowAvgs.loc['March','Avg SnowDays']#one cell
NYC_SnowAvgs.loc['March']['Avg SnowDays']#same cell different style
NYC_SnowAvgs['Avg SnowDays']['March'] #also same, but without loc use column first
NYC_SnowAvgs.loc[NYC_SnowAvgs['Avg SnowDays']<1,:] #selection of rows satisfying a property, all cols
SpotCrudePrices_2013.loc[:,SpotCrudePrices_2013.loc['2013-Q1']>110] # selection of columns satisfying a property

         U.K. Brent
2013-Q1       112.9
2013-Q2       103.0
2013-Q3       110.1
2013-Q4       109.4

In [146]:
import scipy.constants as phys
import math
sci_values=pd.DataFrame([[math.pi, math.sin(math.pi), 
                                    math.cos(math.pi)],
                                   [math.e,math.log(math.e), 
                                    phys.golden],
                                   [phys.c,phys.g,phys.e],
                                   [phys.m_e,phys.m_p,phys.m_n]],
                                   index=list(range(0,20,5)))
sci_values.iloc[:2]#first two rows
sci_values.iloc[:3,:2]#first three rows, and first two cols
sci_values.loc[10]#first two rows, iloc would produce an error bc 10 is a label and not the row posn
sci_values.iloc[2:3,:] #gets a particular row
sci_values.iloc[:3,:2]

              0        1             2
10  299792458.0  9.80665  1.602177e-19

Mixed indexing with ix.  inputs are single label or integer, list integer or label, integer or label slice, boolean array

In [159]:
NYC_SnowAvgsData={'Months' :
['January','February','March', 
'April', 'November', 'December'],
'Avg SnowDays' : [4.0,2.7,1.7,0.2,0.2,2.3],
'Avg Precip. (cm)' : [17.8,22.4,9.1,1.5,0.8,12.2],
'Avg Low Temp. (F)' : [27,29,35,45,42,32] }
NYC_SnowAvgs=pd.DataFrame(NYC_SnowAvgsData,      
                      index=NYC_SnowAvgsData['Months'], 
                      columns=['Avg SnowDays','Avg Precip. (cm)',   
                               'Avg Low Temp. (F)'])
NYC_SnowAvgs.head()
NYC_SnowAvgs.ix['April'] #single row is series
NYC_SnowAvgs.ix[['April','March']] # list rows is dataframe
NYC_SnowAvgs.ix[0] #single row
NYC_SnowAvgs.ix[[0,1]] # multiple rows
NYC_SnowAvgs.ix[[0,1],1] # specify rows first;  two rows 1 col
NYC_SnowAvgs.ix[[0,1],[0,1]] #two row 2 col
NYC_SnowAvgs.ix[['January','February'],[0,1]]
NYC_SnowAvgs.ix[['January','February'],['Avg SnowDays','Avg Precip. (cm)']]
NYC_SnowAvgs.ix[['January','February'],['Avg SnowDays',1]] #cannot mix within list
NYC_SnowAvgs.set_index('Avg SnowDays') #set new index
YC_SnowAvgs.set_index(['Avg Precip. (cm)','Avg SnowDays']) #set multindex

                               Avg Low Temp. (F)
Avg Precip. (cm) Avg SnowDays
17.8             4.0                          27
22.4             2.7                          29
9.1              1.7                          35
1.5              0.2                          45
0.8              0.2                          42
12.2             2.3                          32

The isin, any and all operators applied to:
isin for animals that are native to aus

In [12]:
import pandas as pd
australianMammals=  {'kangaroo': {'Subclass':'marsupial', 
                              'Species Origin':'native'},
               'flying fox' : {'Subclass':'placental', 
                               'Species Origin':'native'},
               'black rat': {'Subclass':'placental', 
                             'Species Origin':'invasive'},
               'platypus' : {'Subclass':'monotreme', 
                             'Species Origin':'native'},
               'wallaby' :  {'Subclass':'marsupial', 
                             'Species Origin':'native'},
        'palm squirrel' : {'Subclass':'placental', 
                           'Species Origin':'invasive'},
        'anteater':     {'Subclass':'monotreme', 'Species Origin':'native'},
        'koala':        {'Subclass':'marsupial', 'Species Origin':'native'}
}
ozzieMammalsDF = pd.DataFrame(australianMammals)

In [20]:
temp=ozzieMammalsDF.T.isin({'Subclass':['marsupial'],
                            'Species Origin':['native']})
temp[temp.all(axis=1)]

         Species Origin Subclass
kangaroo           True     True
koala              True     True
wallaby            True     True

In [27]:
import numpy as np
np.random.seed(100)
normvals=pd.Series([np.random.normal() for i in np.arange(10)])
normvals.where(normvals>0) #returns nan when not true, this is default in data frame
normvals.mask(normvals>0) #returns nan when true, opposite of where

0   -1.749765
1         NaN
2         NaN
3   -0.252436
4         NaN
5         NaN
6         NaN
7   -1.070043
8   -0.189496
9         NaN
dtype: float64

seting index can be done with set_index, which allows for creating an index on an existing df

In [41]:
NYC_SnowAvgsData={'Months' :
['January','February','March', 
'April', 'November', 'December'],
'Avg SnowDays' : [4.0,2.7,1.7,0.2,0.2,2.3],
'Avg Precip. (cm)' : [17.8,22.4,9.1,1.5,0.8,12.2],
'Avg Low Temp. (F)' : [27,29,35,45,42,32] }
NYC_SnowAvgs=pd.DataFrame(NYC_SnowAvgsData,       
                      columns=['Months','Avg SnowDays','Avg Precip. (cm)',   
                               'Avg Low Temp. (F)'])

NYC_SnowAvgs=NYC_SnowAvgs.set_index('Months')
NYC_SnowAvgs=NYC_SnowAvgs.reset_index()
NYC_SnowAvgs.head()

     Months  Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
0   January           4.0              17.8                 27
1  February           2.7              22.4                 29
2     March           1.7               9.1                 35
3     April           0.2               1.5                 45
4  November           0.2               0.8                 42